<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" style="cursor: pointer;" class="navbar-brand">Thought Bridge</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/discussions">Discsussions</a></li>
                <li routerLinkActive="active"><a routerLink="/articles">Articles</a></li>
                <li routerLinkActive="active"><a routerLink="/find-therapists">Find a Therapist</a></li>
                <li routerLinkActive="active"><a routerLink="/resources">Need Help?</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
                <li routerLinkActive="active"><a routerLink="/register">Register</a></li>
                <li routerLinkActive="active"><a routerLink="/contact">Contact Us</a></li>
                <li class="dropdown" appDropdown>
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage Profile<span class="caret"></span></a>
                    <ul class="dropdown-menu"> 
                        <li><a style="cursor: pointer;">View Profile</a></li>
                        <li><a style="cursor: pointer;">Update Preferences</a></li>
                        <li><a style="cursor: pointer;">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>