<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-12">
      <div class="form-wrapper" [style.margin-top]="userType === 'user' ? '30px' : '240px'">
      <mat-tab-group (selectedIndexChange)="updateUserType($event)">
        
        <mat-tab label="Register as User" [ngClass]="{ 'active': userType === 'user' }">
          <br>
          <ng-template mat-tab-label>
            <mat-icon>person_add</mat-icon>
            <span>Register as User</span>
          </ng-template>
          <div mat-tab-body style="margin-top: auto;">
            <form class="mt-4" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
              <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput type="text" id="username" name="username" [(ngModel)]="user.username" required>
              </mat-form-field>&nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" id="email" name="email" [(ngModel)]="user.email" required email>
              </mat-form-field>&nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" id="password" name="password" [(ngModel)]="user.password" required minlength="6">
              </mat-form-field>
              <br>
              <button mat-raised-button color="primary" type="submit" [disabled]="!authForm.valid">Register</button>
              &nbsp; Already have an account? &nbsp;<a routerLink="/login">Login</a>
            </form>
          </div>
        </mat-tab>
        <mat-tab label="Register as Therapist" [ngClass]="{ 'active': userType === 'therapist' }">
          <br>
          <ng-template mat-tab-label>
            <mat-icon>medical_services</mat-icon>
            <span>Register as Therapist</span>
          </ng-template>
          <div mat-tab-body>
            <form class="mt-4" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
              <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput type="text" id="username" name="username" [(ngModel)]="therapist.username" required>
              </mat-form-field>&nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput type="text" id="name" name="name" [(ngModel)]="therapist.name" required>
              </mat-form-field>&nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Mobile Number</mat-label>
                <input matInput type="tel" id="phoneNumber" name="phoneNumber"
                       [(ngModel)]="formattedPhoneNumber" (ngModelChange)="formatPhoneNumber($event)"
                       maxlength="14" required placeholder="(XXX)-XXX-XXXX">
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" id="email" name="email" [(ngModel)]="therapist.email" required email>
              </mat-form-field>&nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" id="password" name="password" [(ngModel)]="therapist.password" required minlength="6">
              </mat-form-field>&nbsp;
              <app-address-form [(address)]="therapist.address"></app-address-form>
              <mat-form-field appearance="fill">
                <mat-label>License Number</mat-label>
                <input matInput type="text" id="licenseNumber" name="licenseNumber" [(ngModel)]="therapist.licenseNumber" required>
              </mat-form-field>&nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Specialization</mat-label>
                <input matInput type="text" id="specialization" name="specialization" [(ngModel)]="therapist.specialization" required>
              </mat-form-field>&nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Qualifications</mat-label>
                <input matInput type="text" id="qualifications" name="qualifications" [(ngModel)]="therapist.qualifications">
              </mat-form-field>&nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Categories</mat-label>
                <mat-select multiple id="categories" name="categories" [(ngModel)]="therapist.categories">
                  <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
                </mat-select>
              </mat-form-field>&nbsp;
              <br>
              <button mat-raised-button color="primary" type="submit" [disabled]="!authForm.valid">Register</button>
              &nbsp; <span>Already have an account?</span> &nbsp;<a routerLink="/login">Login</a>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    </div>
  </div>
</div>
