<div class="container">
    <div class="row justify-content-center mt-5"> <!-- Center the form vertically -->
      <div class="col-md-6">
        <form #authForm="ngForm" class="mt-4" (ngSubmit)="onSubmit(authForm)">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" class="form-control" 
            ngModel required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" ngModel required email>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" ngModel required minlength="6">
          </div>
          <br>
          <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">Register</button>&nbsp; Already have an account? &nbsp;<a routerLink="/login" style="cursor: pointer;">Login</a>
        </form>
        
      </div>
    </div>
  </div>
  