<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ discussion.title }}</h2>
                <h6 class="card-subtitle mb-2 text-muted">Category: {{ discussion.category.name }}</h6>
                <div class="author-info">
                    <mat-icon>person</mat-icon> <span>{{ discussion.author.username }}</span>
                </div>
                <p class="card-text">{{ discussion.content }}</p>

                <div class="votes">
                    <a *ngIf="discussion.type == 'articles'" style="cursor: pointer; color: black; text-decoration: none;">
                        <mat-icon class="upvote" (click)="toggleUpvoteDiscussion()" [style.color]="hasUserUpvoted ? 'blue' : 'inherit'">thumb_up</mat-icon><span>{{ discussion.upvotes }}</span>
                    </a>
                    &nbsp;
                    <a routerLink="comments" style="cursor: pointer; color: black; text-decoration: none;">
                        <mat-icon>comment</mat-icon><span>{{ discussion.comments ? discussion.comments : 0  }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
