<div class="row" *ngIf="userType == 'therapist' || discussion.type == 'articles'">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="comment-input d-flex">
                    <textarea class="form-control flex-grow-1 mr-2" [(ngModel)]="newComment" placeholder="Enter your comment here..."></textarea>
                    <br>
                    <button class="btn btn-primary" (click)="addComment(newComment)">Add Comment</button>
                </div>
                             
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Comments</h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let comment of comments">
                <span class="font-weight-bold"><b>{{ comment.author.username }}</b>:</span> {{ comment.content }}
            </li>
        </ul>
    </div>
</div>