<div class="row mt-4" *ngIf="trendingDiscussions && trendingDiscussions.length > 0">
  <div class="col">
    <h3>Trending Articles</h3>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Likes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let discussion of trendingDiscussions">
            <td>{{ discussion.title }}</td>
            <td>{{ discussion.author.username }}</td>
            <td>{{ discussion.category.name }} </td>
            <td>{{ discussion.upvotes }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
